body{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
img{
  height: 150px;
  width: 80%;
  border: 5px solid white;
  border-radius: 20px;
  opacity: 1;
}
img:hover{
  height: 200px;
  width: 100%;
  transition:0.4s;
  filter:grayscale(0.5)
}
h1{
   font-size:20px;
   position:absolute;
   top:150px;
   opacity:0;
   padding-left:10px;
   color:cyan;
}

img:hover ~ h1{
   opacity:1;
}




